body{

    background: #0E1119;
}


p{
    text-align: center;
}


ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px 430px;
    overflow: hidden;
    background-color:#333 ;

}

li {
    float: left;
    text-decoration: blink;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover:not(.active) {
    background-color:#18aa8d;
    text-decoration: blink;
    color: white;
}

.active {
    background-color: #0e6252;
}

ima{

    width: 2000px;
}